{% extends 'nav.html' %} {%load static%} {% block content %}

<div class="poll-creation">
  <div class="heading">Create a POLL</div>
  <div class="creation-form">
    <form action="create-poll" id="poll-creation" method="POST">
      {%csrf_token%}
      <label for="poll-title">Describe the POLL</label>
      <textarea
        name="poll-description"
        id="poll-description"
        placeholder="Enter what you wanna ask"
      ></textarea>
      <label for="">Enter options for your poll</label>
      <input type="text" placeholder="Enter option 1" name="poll_options" />
      <input type="hidden" name="votes" value="0" />
      <input type="text" placeholder="Enter option 2" name="poll_options" />
      <input type="hidden" name="votes" value="0" />
      <div id="create-option">
        <div class="plus-sign">+</div>
        <div class="text">Add more options</div>
      </div>
      <input type="submit" />
    </form>
  </div>
</div>

<script>
  count = 3;
  $("#create-option").click(() => {
    var option_div = document.createElement("div");
    option_div.setAttribute("id", "option-div");
    option_div.setAttribute("data-number", count);
    $("#create-option").before(option_div);

    var another_option = document.createElement("input");
    another_option.setAttribute("type", "text");
    another_option.setAttribute("placeholder", "Enter option " + count + "");
    another_option.setAttribute("name", "poll_options");
    option_div.appendChild(another_option);

    var another_option = document.createElement("input");
    another_option.setAttribute("type", "hidden");
    another_option.setAttribute("name", "votes");
    another_option.setAttribute("value", 0);
    option_div.appendChild(another_option);

    var remove = document.createElement("div");
    remove.setAttribute("id", "cross");
    remove.setAttribute("data-option_number", count);
    remove.innerHTML = "&#10005;";
    option_div.appendChild(remove);

    count++;
  });

  $(document).click((e) => {
    if ($(e.target).attr("id") == "cross") {
      var option_number = $(e.target).attr("data-option_number");
      $("#option-div[data-number = '" + option_number + "']").remove();
      count--;
    }
  });

  $('body').css('background', '#B7CAFA')
 
</script>

{% endblock %}
